div {
	margin:10px;
	}
div {
 span {
		color:red;
		background:green;
		border:1px solid;
	}
}
div {
	margin:10px;
	}
div {
 span {
		color:red;
		background:green;
		border:1px solid;
	}
}
div {
	margin:10px;
	}
div {
 span {
		color:red;
		background:green;
		border:1px solid;
	}
}